courses.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        
        <xs:element name="website">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="tagline" type="xs:string"/>
              <xs:element name="contact">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="email" type="xs:string"/>
                    <xs:element name="phone" type="xs:string"/>
                    <xs:element name="address" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="courses">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="course" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="title" type="xs:string"/>
                    <xs:element name="category" type="xs:string"/>

                    <xs:element name="instructor">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string"/>
                          <xs:element name="rating" type="xs:decimal"/>
                          <xs:element name="experience" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="price">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute name="currency" type="xs:string" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="originalPrice">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute name="currency" type="xs:string" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="rating" type="xs:decimal"/>
                    <xs:element name="totalRatings" type="xs:integer"/>
                    <xs:element name="students" type="xs:integer"/>
                    <xs:element name="duration" type="xs:string"/>
                    <xs:element name="level" type="xs:string"/>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element name="certificate" type="xs:boolean"/>
                    <xs:element name="description" type="xs:string"/>

                    <xs:element name="topics">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="topic" type="xs:string" maxOccurs="unbounded"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="lastUpdated" type="xs:date"/>
                  </xs:sequence>

                  <xs:attribute name="id" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
